<div class="bg-white min-h-screen flex items-center w-full">
    <div class="w-full max-w-2xl mx-auto text-left px-[20px]">
        <h1 class="text-skyBlue font-semibold text-3xl">HeaLink Articles !</h1>
        <h1 class="text-skyBlue font-semibold text-xl mb-[40px]">Improve your health</h1>

        <div class="font-sans mb-[17px]">
            <h1 class="text-xl font-bold text-black">Top Articles</h1>
        </div>
        <div class="carousel rounded-box space-x-4 mb-[30px]">
            <div class="carousel-item max-w-xs max-h-16">
                <card>
                    <span title>Top Indonesian Hospital in 2023 By
                        Latest Survey</span>
                    <span desc>lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
                    <span time>12</span>
                </card>
            </div> 
            <div class="carousel-item max-w-xs">
                <card>
                    <span title>Top Indonesian Hospital in 2023 By
                        Latest Survey</span>
                    <span desc>lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
                    <span time>12</span>
                </card>
            </div> 
            <div class="carousel-item max-w-xs">
                <card>
                    <span title>Top Indonesian Hospital in 2023 By
                        Latest Survey</span>
                    <span desc>lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
                    <span time>12</span>
                </card>
            </div> 
            <div class="carousel-item max-w-xs">
                <card>
                    <span title>Top Indonesian Hospital in 2023 By
                        Latest Survey</span>
                    <span desc>lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
                    <span time>12</span>
                </card>
            </div> 
            <div class="carousel-item max-w-xs">
                <card>
                    <span title>Top Indonesian Hospital in 2023 By
                        Latest Survey</span>
                    <span desc>lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
                    <span time>12</span>
                </card>
            </div> 
            <div class="carousel-item max-w-xs">
                <card>
                    <span title>Top Indonesian Hospital in 2023 By
                        Latest Survey</span>
                    <span desc>lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
                    <span time>12</span>
                </card>
            </div> 
          </div>
        
        <div class="">
            <div class="font-sans mb-[17px]">
                <h1 class="text-xl font-bold text-black">Explore More</h1>
            </div>

            <div class="flex flex-col space-y-5">
                <card>
                    <span title>Top Indonesian Hospital in 2023 By
                        Latest Survey</span>
                    <span desc>lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
                    <span time>12</span>
                </card>
                <card>
                    <span title>Top Indonesian Hospital in 2023 By
                        Latest Survey</span>
                    <span desc>lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
                    <span time>12</span>
                </card>
            </div>
        </div>
    <br>
    <br>
    <br>
    </div>
</div>