<div class="bg-white min-h-screen flex flex-col w-full max-w-2xl mx-auto px-[20px] pb-[128px] relative pt-5">
  <div>
    <h1 class="text-[24px] text-skyBlue font-semibold">Edit Account</h1>
  </div>
  <br>
  <div class="flex flex-col">
    <div>
      <img src="../../assets/editprofile-icon.svg" alt="" srcset="" class="w-fit mx-auto">
    </div>
    <div class="w-full mb-[20px]">
      <ul class="flex flex-col space-y-2 w-full">
          <li class="w-full">
              <h1 class="text-left text-lg text-black font-semibold">First Name</h1>
              <input-text></input-text>
          </li>
          <li>
              <h1 class="text-left text-lg text-black font-semibold">Last Name</h1>
              <input-text></input-text>
          </li>
          <li>
              <h1 class="text-left text-lg text-black font-semibold">Birthday</h1>
              <input-text></input-text>
          </li>
          <li>
              <h1 class="text-left text-lg text-black font-semibold">NIK</h1>
              <input-text></input-text>
          </li>
          <li>
              <h1 class="text-left text-lg text-black font-semibold">Phone</h1>
              <input-text></input-text>
          </li>
          <li>
              <h1 class="text-left text-lg text-black font-semibold">Email</h1>
              <input-text></input-text>
          </li>
      </ul>
      <div class="flex flex-col space-y-[10px] bg-white mt-[64px] py-3 w-full fixed pb-[5px] left-0 bottom-[8%] z-10 px-[20px]">
          <btn full routerLink="/profile">Save</btn>
      </div>
    </div>
  </div>
</div>
