<div class="bg-white min-h-screen flex flex-col w-full max-w-2xl mx-auto px-[20px] pt-5">
  <div>
    <h1 class="text-[24px] text-skyBlue font-semibold">Account</h1>
  </div>
  <br>
  <div class="flex gap-x-5">
    <avatar round class="w-24" src="../../assets/Gambar-Avatar.jpg"></avatar>
    <div class="flex flex-col justify-evenly flex-1">
      <div class="w-full flex justify-between">
        <label class="text-black font-semibold text-[20px]">WindahGod</label>
        <img src="../../assets/pencil-profile.svg" routerLink="/editprofile" />
      </div>
      <label class="text-black font-normal text-[12px]">+6287344651</label>
      <label class="text-black font-normal text-[12px]">WindahGod@gmail.com</label>
    </div>
  </div>
  <div class="flex flex-col space-y-[10px] mt-3">
    <h2 class="text-black text-[17px] font-semibold">Qr Code</h2>
    <btn class="" >
      <div class="flex flex-row justify-center">
        <img src="../../assets/qrcode-icon.svg" alt="" srcset="" class="mx-auto">
        <label class="text-skyBlue text-[17px] font-semibold">Profile QR Code</label>
      </div>
    </btn>
    <h2 class="text-black text-[17px] font-semibold">Other Information</h2>
    <div class="flex flex-row justify-between">
      <div class="flex flex-row">
        <img src="../../assets/globe-icon.svg" alt="" class="mx-auto mr-3">
        <label class="text-black text-[17px] font-semibold">English</label>
      </div>
      <hr class="h-1px bg-black">
      <div class="flex flex-row">
        <img src="../../assets/arrow-icon.svg" alt="" class="mx-auto">
      </div>
    </div>
    <hr class="h-px my-8 bg-gray-200 border-0 ">
    <div class="flex flex-row justify-between">
      <div class="flex flex-row">
        <img src="../../assets/faq-icon.svg" alt="" class="mx-auto mr-3">
        <label class="text-black text-[17px] font-semibold">FAQ</label>
      </div>
      <div class="flex flex-row">
        <img src="../../assets/arrow-icon.svg" alt="" class="mx-auto">
      </div>
    </div>
    <hr class="h-px my-8 bg-gray-200 border-0 ">
    <div class="flex flex-row justify-between">
      <div class="flex flex-row w-full">
        <img src="../../assets/about-icon.svg" alt="" class="mr-3">
        <label class="text-black text-[17px] font-semibold">About HeaLink</label>
      </div>
      <div class="flex flex-row">
        <img src="../../assets/arrow-icon.svg" alt="" class="mx-auto">
      </div>
    </div>
    <hr class="h-px my-8 bg-gray-200 border-0 ">
    <div class="flex flex-row justify-between">
      <div class="flex flex-row w-full">
        <img src="../../assets/term-icon.svg" alt="" class=" mr-3">
        <label class="text-black text-[17px] font-semibold">Terms & Privacy</label>
      </div>
      <div class="flex flex-row">
        <img src="../../assets/arrow-icon.svg" alt="" class="mx-auto">
      </div>
    </div>
    <hr class="h-px my-8 bg-gray-200 border-0 ">
    <div class="flex flex-row justify-start">
      <div class="flex flex-row">
        <img src="../../assets/logout.svg" alt="" class="w-7 mr-3">
        <label class="text-skyBlue text-[17px] font-semibold" routerLink="/logout">Log out</label>
      </div>
    </div>
</div>
</div>
