<div class="bg-white min-h-screen flex flex-col w-full max-w-2xl mx-auto px-[20px] pt-5">
  <div>
    <h1 class="text-[24px] text-skyBlue font-semibold">Account</h1>
  </div>
  <br>
  <div class="flex gap-x-5">
    <avatar round class="w-24" src="../../assets/Gambar-Avatar.jpg"></avatar>
    <div class="flex flex-col justify-evenly flex-1">
      <div class="w-full flex justify-between">
        <label class="text-black font-semibold text-[20px]">WindahGod</label>
        <img src="../../assets/pencil-profile.svg" routerLink="/editprofile" />
      </div>
      <label class="text-black font-normal text-[12px]">+6287344651</label>
      <label class="text-black font-normal text-[12px]">WindahGod@gmail.com</label>
    </div>
  </div>
  <div class="flex flex-col space-y-[10px] mt-3">
    <h2 class="text-black text-[17px] font-semibold">Qr Code</h2>
    <label class="" for="my-modal" class="btn bg-white border-2 border-skyBlue text-skyBlue hover:text-white hover:bg-skyBlue hover:color-white hover:border-skyBlue">
      <div class="flex justify-center items-center gap-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 4.875c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 013.75 9.375v-4.5zM3.75 14.625c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5a1.125 1.125 0 01-1.125-1.125v-4.5zM13.5 4.875c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 0113.5 9.375v-4.5z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 6.75h.75v.75h-.75v-.75zM6.75 16.5h.75v.75h-.75v-.75zM16.5 6.75h.75v.75h-.75v-.75zM13.5 13.5h.75v.75h-.75v-.75zM13.5 19.5h.75v.75h-.75v-.75zM19.5 13.5h.75v.75h-.75v-.75zM19.5 19.5h.75v.75h-.75v-.75zM16.5 16.5h.75v.75h-.75v-.75z" />
        </svg>
        <label class="text-[17px] font-semibold">Profile QR Code</label>
      </div>
    </label>
    <h2 class="text-black text-[17px] font-semibold">Other Information</h2>
    <div class="flex flex-row justify-between">
      <div class="flex flex-row">
        <img src="../../assets/globe-icon.svg" alt="" class="mx-auto mr-3">
        <label class="text-black text-[17px] font-semibold">English</label>
      </div>
      <hr class="h-1px bg-black">
      <div class="flex flex-row">
        <img src="../../assets/arrow-icon.svg" alt="" class="mx-auto">
      </div>
    </div>
    <hr class="h-px my-8 bg-gray-200 border-0 ">
    <div class="flex flex-row justify-between">
      <div class="flex flex-row">
        <img src="../../assets/faq-icon.svg" alt="" class="mx-auto mr-3">
        <label class="text-black text-[17px] font-semibold">FAQ</label>
      </div>
      <div class="flex flex-row">
        <img src="../../assets/arrow-icon.svg" alt="" class="mx-auto">
      </div>
    </div>
    <hr class="h-px my-8 bg-gray-200 border-0 ">
    <div class="flex flex-row justify-between">
      <div class="flex flex-row w-full">
        <img src="../../assets/about-icon.svg" alt="" class="mr-3">
        <label class="text-black text-[17px] font-semibold">About HeaLink</label>
      </div>
      <div class="flex flex-row">
        <img src="../../assets/arrow-icon.svg" alt="" class="mx-auto">
      </div>
    </div>
    <hr class="h-px my-8 bg-gray-200 border-0 ">
    <div class="flex flex-row justify-between">
      <div class="flex flex-row w-full">
        <img src="../../assets/term-icon.svg" alt="" class=" mr-3">
        <label class="text-black text-[17px] font-semibold">Terms & Privacy</label>
      </div>
      <div class="flex flex-row">
        <img src="../../assets/arrow-icon.svg" alt="" class="mx-auto">
      </div>
    </div>
    <hr class="h-px my-8 bg-gray-200 border-0 ">
    <div class="flex flex-row justify-start">
      <div class="flex flex-row">
        <img src="../../assets/logout.svg" alt="" class="w-7 mr-3">
        <label class="text-skyBlue text-[17px] font-semibold" routerLink="/logout">Log out</label>
      </div>
    </div>
  </div>
  <!-- The button to open modal -->

  <!-- Put this part before </body> tag -->
  <input type="checkbox" id="my-modal" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <img src="/assets/qr-code.png" alt="" />
      <div class="modal-action">
        <label for="my-modal" class="btn w-full bg-white border-2 border-skyBlue text-skyBlue hover:text-white hover:bg-skyBlue hover:color-white hover:border-skyBlue">Close</label>
      </div>
    </div>
  </div>
</div>
