<div class="bg-skyBlue min-h-screen flex items-center w-full">
  <div class="w-full max-w-2xl mx-auto text-center px-[20px]">
      <div class="w-full mb-[20px]">
          <img src="../../assets/logo/healink-logo.svg" alt="" srcset="" class="mx-auto">
      </div>
      <br>
      <div class="w-full mb-[20px]">
        <ul class="flex flex-col space-y-2">
            <li>
                <h1 class="text-left text-lg text-white font-semibold">NIK</h1>
                <input-text [(value)]="nik"></input-text>
            </li>
            <li>
                <h1 class="text-left text-lg text-white font-semibold">Password</h1>
                <input-text [(value)]="password"></input-text>
            </li>
        </ul>
    </div>
    <div class="flex flex-col space-y-[10px]">
      <btn (click)="login()">Login</btn>
  </div>
  </div>
</div>
