<div class="bg-skyBlue min-h-screen flex items-center w-full">
    <div class="w-full min-h-screen max-w-2xl mx-auto text-center px-[20px] flex flex-col justify-center">
        <div class="w-full mb-[20px]">
            <img src="../../assets/logo/healink-logo.svg" alt="" srcset="" class="mx-auto">
        </div>
        <div class="flex flex-col space-y-[10px] justify-end h-full">
            <btn class="" routerLink="/login" full>Sign In</btn>
            <btn class="" routerLink="/onboarding" full>Sign Up</btn>
        </div>
    </div>
</div>