<div class="bg-white min-h-screen flex items-center w-full pt-5">
    <div class="w-full max-w-2xl mx-auto text-left px-[20px]">
        <h1 class="font-sans text-2xl text-black font-bold mb-2">Cegah Anemia, Adakah Buah yang Mengandung Vitamin B12?</h1>
        <h2 class="font-semibold text-black/80 mb-5">Redaksi Halodoc : 23 April 2021</h2>
        <img src="https://asset.kompas.com/crops/mOKFrYHlSTM6SEt4aD9PIXZnJE0=/0x5:593x400/750x500/data/photo/2020/03/16/5e6ee88f78835.jpg" alt="" class="mb-5">
        <div>
            <p class="text-black mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sit debitis molestias, corporis sint similique harum dicta eveniet repellat quia cumque neque veritatis earum distinctio, dolore maiores eligendi sapiente consequuntur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptate quas aliquid perferendis, reiciendis natus qui aperiam ducimus accusamus delectus doloremque perspiciatis aspernatur enim corrupti quidem repellat provident, libero distinctio.</p>
            <p class="text-black mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sit debitis molestias, corporis sint similique harum dicta eveniet repellat quia cumque neque veritatis earum distinctio, dolore maiores eligendi sapiente consequuntur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptate quas aliquid perferendis, reiciendis natus qui aperiam ducimus accusamus delectus doloremque perspiciatis aspernatur enim corrupti quidem repellat provident, libero distinctio.</p>
            <p class="text-black mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sit debitis molestias, corporis sint similique harum dicta eveniet repellat quia cumque neque veritatis earum distinctio, dolore maiores eligendi sapiente consequuntur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptate quas aliquid perferendis, reiciendis natus qui aperiam ducimus accusamus delectus doloremque perspiciatis aspernatur enim corrupti quidem repellat provident, libero distinctio.</p>
        </div>
    <br>
    <br>
    <br>
    </div>
</div>